## UCI Machine Learning Repository data seti kullanılmıştır

In [2]:
# Veri tipi dönüşümü ve eksik verinin tamamlanması (missing data imputation).
# Sürekli nitelikleri belirli aralıklara bölmek ve kategorik veriye dönüştürmek amacıyla gerçekleştirilen veri ayrıklaştırma (data discretization).
# Veri seti özetleme ve niteliklerin belirli kriterlere göre gruplandırılması.
#  Veri setindeki tekrar eden gözlemlerin (duplicates) tespit edilmesi.
#  Aykırı değerlerin tespit edilmesi (outlier detection).
#   Rastgele örnekleme (random sampling) ve tabakalı örnekleme (stratified sampling).
#      Kategorik nitelikleri sayısal formata dönüştürmede kullanılan yapay kodlama (dummy coding).
#      farklı ölçeklerdeki nitelikleri aynı ölçeğe getirmeyi sağlayan veri normalizasyonu (data normalization).

##  Python ile Temel Veri Ön-işleme Teknikleri

In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib.cbook import boxplot_stats
import random
from random import sample
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import  MinMaxScaler,StandardScaler

In [28]:
nitelikAdlari=["mpg","cylinders","displacement","horsepower","weight","acceleration","model_year","origin","car_name"]
verSeti=pd.read_csv("./auto-mpg.data", sep="\s+",header=None, names=nitelikAdlari, index_col="car_name",decimal=".")
verSeti

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\gokha\AppData\Local\Temp\ipykernel_11284\3509779380.py:2: SyntaxWarning: invalid escape sequence '\s'
  verSeti=pd.read_csv("./auto-mpg.data", sep="\s+",header=None, names=nitelikAdlari, index_col="car_name",decimal=".")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
car_name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504.0,12.0,70,1
buick skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,1
plymouth satellite,18.0,8,318.0,150.0,3436.0,11.0,70,1
amc rebel sst,16.0,8,304.0,150.0,3433.0,12.0,70,1
ford torino,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.00,2790.0,15.6,82,1
vw pickup,44.0,4,97.0,52.00,2130.0,24.6,82,2
dodge rampage,32.0,4,135.0,84.00,2295.0,11.6,82,1
ford ranger,28.0,4,120.0,79.00,2625.0,18.6,82,1
chevy s-10,31.0,4,119.0,82.00,2720.0,19.4,82,1

In [19]:
verSeti.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model_year        int64
origin            int64
dtype: object

## Veri Tipi Dönüşümü ve Eksik Verinin Tamamlanması

In [31]:
verSeti.loc[verSeti.horsepower == "?","horsepower"] =np.nan
verSeti.horsepower =verSeti.horsepower.astype("float64")

In [32]:
print(verSeti.isnull().sum())

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64